    <div class="hero">
        <div class="form_box">
            <div class="button_box">
                <div id="btn"></div>
            <button type="button" class="toggle_btn" onclick="Login()">LogIn</button>
            <button type="button" class="toggle_btn" onclick="Register()">Register</button>
            </div>
            <div>
            <form  id="Login"class="input_group">
                <h2>Fill following to login</h2>
                <label>Email</label>
                <input type="text" class="input-field" placeholder="Email@gmail.com" required><br><br>
                <label>Password</label>
                <input type="password" class="input-field" placeholder="enter password" required><br><br><br><br><br>
                <button type="submit" class="submit_btn">Login</button>
            </form>
            <form id="Register" class="input_group">  
                <h2>Genral Detail</h2>
                <label>Name</label>
                <input type=" text" class="input-field" placeholder="donor_name" required><br>
                <label>Father Name</label>
                <input type="text" class="input-field" placeholder="Father_Name" required><br>
                <label>CNIC</label>
                <input type="text" class="input-field" placeholder="CNIC" required><br>
                <label>DOB</label>
                <input type="text" class="input-field" placeholder="DOb" required><br><br>
                <button type="button" class="submit_btn" onclick="next()">Continue</button>
            </form>
            <form  id="contact"class="input_group">
                <h2>Address and contact</h2>
                <label>Country</label>
                <input type="text" class="input-field-1" placeholder="country" required><br>
                <label>City</label>
                <input type="text" class="input-field-1" placeholder="city" required><br>
                <label>State</label>
                <input type="text" class="input-field-1" placeholder="state" required><br>
                <label>Gender</label>
                <input type="text" class="input-field-1" placeholder="gender" required><br>
                <label>occupation</label>
                <input type="text" class="input-field-1" placeholder="occupation" required><br><br>
                <button type="button" class="submit_btn" onclick="Register()">back</button><br>
                <button type="button" class="submit_btn" onclick="next1()">Continue</button>
            </form>
            <form id="pass" class="input_group">
                <label>Address</label>
                <input type="text" class="input-field-1" placeholder="address" required>
                <label>Email</label>
                <input type="password" class="input-field" placeholder="Email@gmail.com" required><br>
                <label>Password</label>
                <input type="password" class="input-field" placeholder="enter password" required><br>
                <label>Confirm password</label>
                <input type="text" class="input-field" placeholder="confirm password" required><br><br>
                
                <button type="button" class="submit_btn" onclick="next()">back</button><br>
                <button type="submit" class="submit_btn" onclick="window.location='donar_registration.html'">Register</button>

            </form>
        </div>
    </div>  

<script>
   var x= document.getElementById("Login");
   var y=document.getElementById("Register");
   var c=document.getElementById("contact");
   var z=document.getElementById("btn");
   var p=document.getElementById("pass");

//    var z= document.getElementById("btn")
    function Register(){
        x.style.left="-400px";
        y.style.left="50px";
        c.style.left ="-400px";
        z.style.left="110px";
        p.style.left ="-450px";

    }
    function Login(){
        c.style.left="-450px";
        x.style.left="50px";
        y.style.left="450px";
        z.style.left="0px";
        p.style.left ="-450px";
        
    }
    function next(){
        x.style.right="-400px";
        y.style.left="450px";
        c.style.left= "50px";
        z.style.left="110px";
        p.style.top="600px";
    }
    function next1(){
        x.style.right="-400px";
        y.style.left="450px";
        c.style.left="-450px";
        z.style.left="110px";
        p.style.top="100px";
        p.style.left="50px";
    }
</script>