
         <div class="slider_area slider_bg_1 d-flex align-items-center">
            <div class="container">
              <div class="row" >
                <div class="col-xl-12">
                  <div class="single_slider">
                    <div class="slider_text">
                        <form  id="Login">
                            <div class="formbox"> 
                                <div class="button_box">
                                    <div id="btn"></div>
                                    <button type="button" class="toggle_btn"  (click)="redirecttoSignup()">Register</button>
                                    <button type="button" class="toggle_btn"  (click)="redirecttoLogin()">Login</button>
                                </div>
                                <div class="part1"> 
                                    <h2>Genral Detail</h2>
                                    <label>Name</label>
                                    <input type=" text" class="input-field" placeholder="donor_name" required>
                                    <label>Father Name</label>
                                    <input type="text" class="input-field" placeholder="Father_Name" required>
                                    <label>CNIC</label>
                                    <input type="text" class="input-field" placeholder="CNIC" required>
                                    <label>DOB</label>
                                    <input type="datetime-local" class="input-field" placeholder="DOb" required>
                                    <label>Family Members</label>
                                    <input type="text" class="input-field-1" placeholder="Family members" required>
                                    <label>verified document</label>
                                    <input type="file" class="input-field-1" placeholder="varified document" required>
                                    <label>Marital Status</label>
                                    <input type="text" class="input-field-1" placeholder="marital_status" required>
                                    <label>Medical Certificate</label>
                                    <input type="file" class="input-field-1" placeholder="Medical_certificate" required>
                                </div>
                                <div class="part2">
                                    <h2>Address and contact</h2>
                                    <label>Address</label>
                                    <input type="text" class="input-field-1" placeholder="address" required>
                                    <label>Contact number</label>
                                    <input type="text" class="input-field" placeholder="Contact number" required>
                
                                    <h2>Security</h2><br>
                                   
                                    <label>Email</label>
                                    <input type="text" class="input-field" placeholder="Email@gmail.com" required>
                                    <label>Password</label>
                                    <input type="password" class="input-field" placeholder="enter password" required>
                                    <label>Confirm password</label>
                                    <input type="password" class="input-field" placeholder="confirm password" required>
                                </div><br>
                                <button type="submit" class="submit_btn" onclick="window.location='indexregister.html'">Register</button>
                            </div>
                
                         </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
