/* .form_box{
    height:1450px;
} */
.slider_area::after{
    position:absolute;
    content:"";
    background:#fff;
    width:100%;
    height:0;
    left:0;
    bottom:-60px;
    -webkit-transform:skewY(3deg);
    -ms-transform:skewY(3deg);
    transform:skewY(3deg);
    z-index:99}
.slider_area{
    bottom: 30px;
}
.formbox{
    position: relative;
    top: 120px;
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: #ffe6e6;
    padding: 2%;
}
.part1, .part2{
    width: 48%;
    display: inline;
}
.part1{
    float: left;
}
.part2{
    float:right;
}
.submit_btn{
    margin-top: 2%;
}
