<div class="servce_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-60">
          <span>We Work For</span>
          <h3>
            We Serve For Peoples
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-4">
        <div class="single_serve text-center">
          <div class="serve_icon">
            <i class="flaticon-meat"></i>
          </div>
          <h3>Pure Food & Water</h3>
          <p>Inspires employees and organizations to support causes they care about. We do this to bring
            more resources to the nonprofits that are </p>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_serve text-center">
          <div class="serve_icon">
            <i class="flaticon-medicine"></i>
          </div>
          <h3>Medicine</h3>
          <p>Inspires employees and organizations to support causes they care about. We do this to bring
            more resources to the nonprofits that are </p>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_serve text-center">
          <div class="serve_icon">
            <i class="flaticon-open-magazine"></i>
          </div>
          <h3>Education</h3>
          <p>Inspires employees and organizations to support causes they care about. We do this to bring
            more resources to the nonprofits that are </p>
        </div>
      </div>
    </div>
  </div>
</div>
