<div class="volunteers_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-60">
          <span>We Work For</span>
          <h3>
            We Serve For Peoples
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="single_volunteer">
          <div class="thumb">
            <img src="../../../assets/img/volunteers/1.png" alt="">
            <div class="social_links">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="author_name text-center">
            <h3>Macau Wilium</h3>
            <span>Volunteer</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="single_volunteer">
          <div class="thumb">
            <img src="../../../assets/img/volunteers/2.png" alt="">
            <div class="social_links">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="author_name text-center">
            <h3>Anila Miller</h3>
            <span>Volunteer & Donner</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="single_volunteer">
          <div class="thumb">
            <img src="../../../assets/img/volunteers/3.png" alt="">
            <div class="social_links">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="author_name text-center">
            <h3>Rona Dana</h3>
            <span>Volunteer</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="single_volunteer">
          <div class="thumb">
            <img src="../../../assets/img/volunteers/4.png" alt="">
            <div class="social_links">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="author_name text-center">
            <h3>Ledo Jonson</h3>
            <span>Volunteer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
