<div class="slider_area slider_bg_1 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="single_slider">
          <div class="slider_text">
            <h3>Support a Causes <br>
              You Care About</h3>
            <p>At Charity United we believe that all children in the world have the right to be <br>
              cared for and the right to be protected </p>
            <a href="#" class="boxed-btn2">Join Us Today</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
