
<!-- slider_area_start -->
<app-side-area></app-side-area>


<!-- slider_area_end -->

<!-- causes_area_start -->
<app-causes-area></app-causes-area>
<!--&lt;!&ndash; causes_area_end &ndash;&gt;-->

<!--&lt;!&ndash; about_area_start &ndash;&gt;-->
<app-about-area></app-about-area>
<!--&lt;!&ndash; about_area_end &ndash;&gt;-->


<!--&lt;!&ndash; servce_area_start &ndash;&gt;-->
<app-servce-area></app-servce-area>
<!--&lt;!&ndash; servce_area_end &ndash;&gt;-->

<!--&lt;!&ndash; help_area_start &ndash;&gt;-->
<app-help-area></app-help-area>
<!--&lt;!&ndash; help_area_end &ndash;&gt;-->

<!--&lt;!&ndash; volunteers_area_satrt &ndash;&gt;-->
<app-volunteers-area></app-volunteers-area>
<!--&lt;!&ndash; volunteers_area_end &ndash;&gt;-->

<!--&lt;!&ndash; become_volunter_start &ndash;&gt;-->
<app-become-volunter></app-become-volunter>
<!--&lt;!&ndash; become_volunter_end &ndash;&gt;-->

