*{
    margin: 0;
    padding: 0;
}
.header-area{
    top: -60px;
 }
/* .hero{ 
    height:100%;
    width: 100%;  */
    /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); */
    /* background-position: center;
    background-size: cover; */
    /* position: absolute; */
/* }
/*  */
.form_box{
    height:615px;
    width: 380px;
    position: relative;
    top: 55px;
    margin: 6% auto;
    padding: 5px;
    background: rgb(241, 236, 240);
    overflow: hidden;
}
.button_box{
    width: 220px;
    margin-top: 0;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ebbba91f;
    border-radius: 30px;
}
.toggle_btn{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,darkred, #817daa7f );
  border-radius: 30px;
  transition: .5s;
  
}
.input_group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 5px 0;
    margin: 2px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.input-field-1{
    width: 100%;
    padding: 5px 0;
    margin: 0px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit_btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:linear-gradient(to right,darkred, #ffad06 ); 
    border: 0;
    outline: none;
    border-radius: 30px;

}
/* 
#Login{
    left: 50px;
}
#Register{
    left: 450px;
}
#contact{
    right: 450px;
}
#pass{
    top: 610px;
} */ 