<!-- header-start -->
<!--<app-top-nav></app-top-nav>-->
<!-- header-end -->

<!--<router-outlet></router-outlet>-->
<h1>Angular</h1>
<!-- footer_start -->
<!--<app-footer></app-footer>-->
<!-- footer_end -->
<div class="p-2">
    <table class="table table-sm"> 
        <tr><th>Sender Id</th><td>{{message?.senderId}}</td></tr>
        <tr><th>Receiver Id</th><td>{{message?.receiverId}}</td></tr>
        <tr><th>Text</th><td>{{message?.text}}</td></tr>
        <tr><th>DateTime</th><td>{{message?.when}}</td></tr>
    </table>
 </div>
