<!-- header-start -->
<app-top-nav></app-top-nav>
<!-- header-end -->

<router-outlet></router-outlet>
<!-- <h1>Angular</h1> -->
<!-- footer_start -->
<app-footer></app-footer>
<!-- footer_end -->
<!-- <div class="p-2">
    <table class="table table-sm"> 
        <tbody>
            <tr>
                <th i18n>Admin Name</th>
                <th i18n>Email</th>
                <th>password</th>
                <th>Contact No</th>
            </tr>
            <tr *ngFor="let admin of admins">
                <td>{{admin.adminName || 'Loading Data...'}}</td><td>{{admin.email || 'Loading Data...'}}</td><td>{{admin.password || 'Loading Data...'}}</td><td>{{admin.contactNo || 'Loading Data...'}}</td>
            </tr>
        </tbody>
    </table>
     <button class="btn btn-primary m-1" (click)="createAdmin()">Create Admin</button>
 </div> -->
