<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> -->
<div class="testbox">
      <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="banner">
            <img src="../../../assets/img/banner/1.png" width="100%"> 
          <h1>Post</h1>
        </div>
        <br/>
        <!-- <p>The HELP Group is seeking volunteers to serve our community. Fill in the information below to indicate how you would like to become involved.</p> -->
        <br/>
        <div class="colums">
          <div class="item">
            <label for="name" style="color: #fff;">Title<span>*</span></label>
            <input id="name" placeholder="e.g. Help Yeati To Continue Her Primary Education" type="text" formControlName="Title" required><br>
            <label class="text-danger" *ngIf="formModel.get('Title').touched && formModel.get('Title').errors?.required">This field is mandatory.</label>
          </div>
          <div class="item">
            <p style="color: #fff;">Catagories<span>*</span></p>
            <select class="col-md-6" formControlName="Category" required><br>
              <option selected value="" disabled selected>--select--</option>
              <option value="Medical Issue" >Medical Issue</option>
              <option value="Education">Education</option>
              <option value="Dowry">Dowry</option>
              <option value="Loan">Loan</option>
              <option value="Other">Other</option>
            </select>
            <label class="text-danger" *ngIf="formModel.get('Category').touched && formModel.get('Category').errors?.required">This field is mandatory.</label>
          </div>
          <div class="item">
            <label for="name" >Time<span>*</span></label>
            <input id="name" type="datetime-local" formControlName="Time" required><br>
            <label class="text-danger" *ngIf="formModel.get('Time').touched && formModel.get('Time').errors?.required">This field is mandatory.</label>
          </div>
          
          <div class="item">
            <label for="visit">Description<span style="color: red;">*</span></label>
            <textarea id="visit" rows="3" formControlName="Decription" required></textarea>
            <!-- <label class="text-danger" *ngIf="formModel.get('Description').touched && formModel.get('Description').errors?.required">This field is mandatory.</label> -->
          </div>
          <div class="item">
            <label for="name">Amount<span>*</span></label>
            <input id="name" placeholder="e.g. 5000" type="text" formControlName="TragetAmount" required><br>
            <label class="text-danger" *ngIf="formModel.get('TragetAmount').touched && formModel.get('TragetAmount').errors?.required">This field is mandatory.</label>
          </div>
          <div class="item">
            <label for="street">Image</label>
            <input id="street" type="file"   name="street" required/>
          </div>
         
          
          
        </div>
        <div class="question">
          <label>You want Urgent Money?<span style="color: red;">*</span></label>
          <div class="question-answer">
            <select class="col-md-6" formControlName="Urgent" required><br>>
              <option selected value="" disabled selected>--select--</option>
              <option value="yes" >Yes</option>
              <option value="no">No</option>
            </select>
            <label class="text-danger" *ngIf="formModel.get('Urgent').touched && formModel.get('Urgent').errors?.required">This field is mandatory.</label>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-8 offset-md-2">
              <label class="text-danger" *ngIf="!formModel.valid">Please fill all fields.</label>
              <button type="submit" class="submit_btn"   [disabled]="!formModel.valid">Post</button>
          </div>
      </div>
        <!-- <div class="btn-block">
          <button type="submit" >Post</button>
        </div> -->
      </form>    
</div>

<!-- <div class="container">
	<div class="d-flex justify-content-center ">
		<div class="card">
			<div class="card-header">
                <h3>  Post </h3>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
                        <label>Title</label>
						<input type="text" class="input"  placeholder="Title">
                    </div>
					<div class="input-group form-group">						
                        <div >
                            <label>Catagories</label>
                            <select title="Catagories" selectpicker class="input">
                              <option>Medical Issue</option>
                              <option>Education</option>
                              <option>Dowry</option>
                              <option>Loan</option>
                              <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    <label>Discription</label><br>
                    <textarea rows = "3" cols = "40" name = "description"c lass="input"></textarea>
                    </div><br>
                    <div>
                        <label>Amount</label>
                        <input type="text" placeholder="e.g. 5000" class="input">
                    </div>
                    <input type="checkbox" id="urgent" name="urgent1" value="urgent">
                    <label class="input"> Urgent</label><br>
                    <label for="myfile">Select image:</label>
                    <input type="file" id="myfile" name="myfile" class="input">
                    <div class="form-group">
                    <input type="submit" value="Post" class="btn float-right login_btn">
                    </div>
            </form>
			</div>
		</div>
	</div>
</div> -->