<div class="become_volunter volunter_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-md-10 offset-md-1">
        <div class="volunter_text text-center">
          <h3>Become a Volunteer</h3>
          <p>Inspires employees and organizations to support causes they care <br>
            about. We do this to bring more resources to the nonprofits that are
            changing our world.</p>
          <a class="boxed-btn4" (click)="redirectToLogin()">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
