<header>
  <div class="header-area " style="background-color: #450000;">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid p-0">
        <div class="row align-items-center justify-content-between no-gutters">
          <div class="col-xl-2 col-lg-2">
            <div class="logo-img">
              <a (click)="edirectToHome()">
                <img src="../../../assets/img/logo.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li style="color: black!;"><a (click)="edirectToHome()">Home</a></li>
                  <li><a (click)="redirectToAbout()">About</a></li>
                  <li><a (click)="redirectTocauses()">Posts</a></li>
                  <li><a (click)="redirectToProfile()">Profile </a></li>
                  <li><a (click)="redirecttoLogin()">Login</a></li>
                  <li><a href="#">Register <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><a (click)="redirectToSignupD()">As Donor</a></li>
                      <li><a (click)="redirectToAccSignup()">As Accepter</a></li>
                    </ul>
                  </li>
                  <li><a href="#">pages <i class="ti-angle-down"></i></a>
                    <ul class="submenu">
                      <li><a (click)="redirectToAdmin()">Admin</a></li>
                    </ul>
                  </li>
                  <li><a (click)="redirectToCal()">Calculator</a></li>
                  
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 d-none d-lg-block">
            <button (click)="toogle1()">{{login}}</button>
            <div class="donate_now">
              <a href="#" class="boxed-btn" (click)="redirectToSignupD()">Donate Now</a>
              <div id="google_translate_element"></div>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
