<div class="sidebar" data-color="azure" data-background-color="black" data-image="../../../../assets/img/sidebar-2.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo"><a href="#" class="simple-text logo-normal">
        Step to Charity
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" (click)="redirectToDash()">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="redirectToProfile()">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        
        
        <li class="nav-item ">
          <a class="nav-link" (click)="redirectTonotification()">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item ">
              <a class="nav-link" (click)="redirectToAccep()">
                  <i class="material-icons">Accepters</i>
                  <p>Accepters</p>
              </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="redirectToDonor()">
                <i class="material-icons">Donors</i>
                <p>Donors</p>
            </a>
        </li>
      </ul>
    </div>
  </div>