<div class="causes_area" style="margin-top: 20px;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-md-6">
        <div class="causes_info">
          <div class="section_title">
            <h3>
              {{post.title}}
            </h3>
          </div>
          <p>{{post.category}}</p>
          <p>{{post.description}}</p>
          <div class="target_rais_area d-flex">
            <div class="single_raise">
              <span>target :</span>
              <h4>{{post.target_amount}}</h4>
            </div>
            <div class="single_raise">
              <span>raised :</span>
              <h4>{{post.received_amount}}</h4>
            </div>
            <div class="doante_btn">
              <a href="#" class="boxed_btn3">Donate Now</a>
              <br>
            </div>
            <div class="form-popup" id="myForm">
              <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()"  class="form-container">
                <table>
                    <tr>
                        <td><label for="psw"><b>Comment</b></label></td>
                        <td><textarea  placeholder="comment" ormControlName="text" ></textarea></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn">Comment</button></td>
                    </tr>
                </table>
              </form>
            </div>
            <table>
              <tr *ngFor="let comment of comments"> 
                <td>{{comment.comment_text}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="causes_thumb" >
          <img class="img-fluid" src="../../../assets/img/causes/1.png" alt="">
          <div class="custom_progress_bar">
            <div class="progress">
              <div class="progress-bar wow slideInLeft" role="progressbar" aria-valuenow="60"
                   aria-valuemin="0" aria-valuemax="100" style="width:60%">
                <div class="value_progress">
                  <span>40%</span>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<hr>


